$white: #EDF4FC;
$light_blue: #A8D2F0;
$lavendar: #b38D97;
$dark_blue: #326273;
$onyx:#3D3D3D;

$menu_bg: #2185d0;
$tile_color: #aac8de;

.color-white {
  color: $white !important;
}

.color-light-blue {
  color: $light_blue !important;
}

.color-lavendar {
  color: $lavendar !important;
}

.color-dark-blue {
  color: $dark_blue !important;
}

.color-onyx {
  color: $onyx !important;
}
